* {
    margin: 0px;
    padding: 0px;
}

.container-fluid{
	width: 50%;
	margin: auto;
}

.invisible {
	display: none;
}
.container{
	width: 50%;
	margin: auto;
}
/*@media(max-width: 400px){
	body{
		margin: 0px;
	}
}*/

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (max-width: 301px) {
  div.example {
    font-size: 10px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.example {
    font-size: 13px;
    width: 90%;
  }
}

